body{
    background-image: url("https://github.com/JonnySC/Full-Stack-Developer/blob/main/Proyectos/Multimedia/fondo%20de%20proyectos.gif?raw=true");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
