@page "/"

<PageTitle>Index</PageTitle>


<header>

    <div class="text-center">
        <img src="img/elingenierotripchica.png" class="rounded" alt="...">
    </div>
    <br/>
    <h1 class="col-auto" style="text-align:center" >IngenieroTrip</h1>
</header>


    <div style="text-align:center">

        <h2>
           Desarrollador FullStack
        </h2>

        </div>

    

    



<footer style="text-align:center "> ©Jonnysc

</footer>


     